.fields{
    display: flex;
    flex-flow: column;
}

.button-field{
    width: 100%;
}

.fields > div{

    width: 100%;
}

.staff-dialog {
    overflow: visible;
}

.staff-dialog > .ui-dialog-content {
    overflow: visible;
}