/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-feb-19, 14:29:51
    Author     : smexcell
*/

@font-face {
font-family: "David CLM";

src: url("#{resource['fonts/David CLM, Medium Italic.ttf']}");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Roboto";

src: url("#{resource['fonts/OpenSans-Regular.ttf']}");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "David Libre";

src: url("#{resource['fonts/DavidLibre-Regular.ttf']}");
font-weight: normal;
font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}

body{
    font-family: "Roboto";
    margin:0;
    font-size: 1rem;
    color: white;
}

span{
    font-size: 1rem;
}



h1{
    font-family: "David CLM";
    color: white;
    font-size: 4rem;
    margin-top: 0;
    padding: 0;
}

h2{

    align-self: center;
    font-size: 2rem;
}

h3{
    font-family: "David Libre";
    font-size: 1.5rem;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 70%;
   
    align-self: center;
}

.background-image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
    
    background-image: url(/website/resources/images/background.jpg);   
    margin:0;   
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.common-background{
    //background-image: url(/website/resources/images/e05bb1e8.png);  
    //background-color: #151B1F;
    margin:0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100%;
}

.login-background{
    background-image: linear-gradient(rgba(35, 41, 50, 0.75), rgba(35, 41, 50, 0.75)), url(/website/resources/images/e05bb1e8.png);  

    background-position: center center;
    background-repeat: repeat;

    margin:0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}

.content-background{
    background-image: linear-gradient(rgba(35, 41, 50, 0.75), rgba(35, 41, 50, 0.75)), url(/website/resources/images/e05bb1e8.png);  

    background-position: center center;
    background-repeat: repeat;

    margin:0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 2rem 0 4rem 0;
    
}

.header-image{
    display: flex;
    flex-direction: column;

    min-height: 10rem;
    margin:0;
    background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
}

.header-image-home{
    display: flex;
    flex-direction: column;

    min-height: 250px;
    margin:0;
    background: linear-gradient(rgba(35, 41, 50, 0.75), rgba(35, 41, 50, 0.75)), url(/website/resources/images/background-blur.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 0px 10px 0px;
}

.header-content{
    //display: flex;
    //flex-flow: column;
    min-height: 100%;
}

.nav-tabs > li > a:hover{
    background: none;
    color: white;
    border-top: none;
    border-bottom: none;
    margin-top:1px; 
    border-radius: 0px 0px 0px 0px;
}
.nav-tabs > li.active > a:hover{
    background: none;
    color: white;
    border-top: none;
    border-bottom: none;
    margin-top:1px; 
    border-radius: 0px 0px 0px 0px;
}
.nav-tabs > li.active > a:focus{
    background: none;
    color: white;
    border-top: none;
    border-bottom: none;
    border-radius: 0px 0px 0px 0px;
}
.nav-tabs > li.active > a{
    font-size: 1.5rem;
    font-family: "David Libre";
    background: none;
    color: white;
    border-top: none;
    border-bottom: none;
    margin-top:1px;
    border-radius: 0px 0px 0px 0px;
}

.nav-tabs > li > a{
    font-size: 1.5rem;
    font-family: "David Libre";
    background: none;
    color: #bdc3c7;
    border-top: none;
    border-bottom: none;
    margin-top:1px;
    border-radius: 0px 0px 0px 0px;
}

.content-about-upper-column-right{
    
    padding:1px;
    //border-bottom: solid 2px threedface;
    height: 290px;
    margin:3%;
   
   
}

.content-about-upper-column-right-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url(/website/resources/images/markje-about.png);
}

.owner-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url(/website/resources/images/markje-about.png);
}
.content-about-lower-column-left-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    background-image: url(/website/resources/images/mypost.jpg);
}
.content-about-upper-column{
    padding:1px;
    border-bottom: solid 2px threedface;
    min-height: 290px;
    margin:3%;
    font-size: 21px;
   
    
}
.content-about-lower-column{
    padding:1px;
    border-bottom: solid 2px threedface;
    height: 200px;
    margin:3%;
   font-size: 22px;
}

.menubar-links > li > a{
    color: white !important;
}

.navbar .navbar-nav{

  justify-content: center;
  
  float: none;
}

.navbar-collapse::before{

}

.menubar-links{
display:inline-block;
    float: none;
  text-align: center;
  vertical-align: top;
  font-size: 2.5rem;

}


.navbar .navbar-nav navbar-default{
  padding: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.main-menubar{
    background:none;
    border-bottom: white solid 0px;
    border-top: white solid 0px;
    border-right: none;
    border-left: none;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    
}
.content-about-lower-column-label{
    font-size: 30px;
    padding-left:3%;
    text-align: center;
}

.content-about-upper-column-label{
    font-size: 30px;
    text-align: center;
    
    
}
.content-about-lower-column-label{
    font-size: 30px;
    text-align: center;
    
    
}


.content-about-lower-row-label{
    font-size: 30px;
   
    top:10%;
    
}

.content-about-container{
    margin-top: 6%;
}

/*Footer*/

.footer-container{
    //background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url(/website/resources/images/background-blur.jpg);
    //border-top: white solid 8px;
    background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 0px 10px 0px;
}

.footer-heading-rows{
    margin-left : 10%;
    margin-right : 10%;
}

hr.hr1{
  border-top: 1px solid white;
}

.footer-rows{
    margin-left : 10%;
    margin-right : 10%;
    margin-bottom : 25px;
}

.footer-rows p{
    font-size : 24px;
    color : white;
    margin-bottom: 1px;
}

.footer-text-header{
    display: flex;
    //min-width: 100%;
}

.footer-text-header h3{
    font-size: 34px;
    color : whitesmoke;
}

.content-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 8rem 0 8rem;
}

.underline{
    width: 80%;
}
.underline-dark{
    width: 80%;
    
    background-color: #151B1F;
    border:none;   
}

.event-news-first{
    background-color: white;
    max-width: 20rem;
    max-height: 35rem;
    border: solid 2px threedface;
    
}
.event-news-first-text {
    color:black;
    padding:1rem;
}

.event-content{
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    min-height: 100%;
}

.event-news-first-image{
    width: 100%;
    
}

#atrigger:hover {
    text-decoration: none;
    
}
#atrigger:focus {
    text-decoration: none;
    
}

.modal-header{
    display: none;
}
.modal-body{
    padding: 0;
}

.modal-dialog{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.underline-event{
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#atrigger:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}
/*DAILY-MENU*/

.daily-menu-rows h3{
    font-weight: bold;
}

.daily-menu{
    float: left;
    width: 20rem;
    background: rgba(65, 65, 65, 0.9);
    padding: 0rem 2rem 0rem 2rem;
    margin: 2rem;
}

.daily-menu-hr1{
    width: 17rem;
}

.daily-menu-price p{
    font-weight: bold;
    font-style: italic;
}

.daily-menu-more {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.daily-menu-more p{
    font-weight: bold;
}

.daily-menu-more a{
    font-size: 1.5rem;
}

.daily-menu-more a:link {
    color: white;
}

.daily-menu-more a:visited {
    color: white;
}

.col-md-4{
    justify-content: center;
    
}

.col-md-7 > div{
    display: flex;
    justify-content: center;
}

/*BOOKING*/
.menu-background{
    background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);
    box-shadow: 0px 0px 2rem 0rem rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    max-width: 70%;
    
}

.menu-tabs{
    display: flex; 
    flex-flow: row; 
    justify-content: center;
    padding: 1rem;
    
}

.menu-tab-title{
    color: white;
    
}

.menu-element{
    padding: 1rem; 
    display: flex; 
    flex-flow: row; 
    justify-content: space-between;
    border-bottom: solid 1px white; 
    min-height: 8rem;
}

* { box-sizing: border-box; }

.menu-background-start{
    //background-image: url(/website/resources/images/mypost.jpg);
    
}
.booking-div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.booking-container-div{
    width: 24rem;
}

.booking-div-forms{
    width: 15rem;
    
}

.booking-form-rows{
    padding-bottom: 2rem;
}

.bootstrap-datetimepicker-widget{
    color: black;
}

.booking-tabview{
   background: rgba(255, 255, 255, 0.9);
   text-align: center;
   align-self: center;
   justify-content: center;
}

.booking-tab nav-pills > li.active > a{
    background-color: green;
}

active booking-tab{
    background-color: green;
}

.login-column{
    background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);
    box-shadow: 0px 0px 2rem 0rem rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 40rem;
    height: 20rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.About-text-column{
    background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);
    box-shadow: 0px 0px 2rem 0rem rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.panel-group{
    width: 40rem;
}
.label-default{
    background-color: #122a3d;
    margin-bottom: 3rem;
}

/* todays lunch */

.panel-wrap-todays {
  position: fixed;
  top: 15.6rem;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 11.5rem;
  
}
.panel-todays {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0rem;
  right: 0;
  background: #e5efff;
  color: #eee;
  overflow: auto;
  padding: 1em;
  
}

/* simulate panel state control --
this can also be triggered by a 
class name added to the body tag. 
Just using a checkbox sibling here
for simplicity
*/ 







/*måndag*/


.panel-wrap-mon {
  position: fixed;
  top: 27rem;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 11.5rem;
  transform: translateX(100%);
  transition: .3s ease-out;
}
.panel-mon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0rem;
  right: 0;
  background: #202936;
  color: #eee;
  overflow: auto;
  padding: 1em;
  
  border-top: 1px solid white;
}

/* simulate panel state control --
this can also be triggered by a 
class name added to the body tag. 
Just using a checkbox sibling here
for simplicity
*/ 
[id="clicker-mon"]:focus ~ .panel-wrap-mon  {
  transform: translateX(0%);
}




#clicker-mon{
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  background:#202936;
  color:#fff;
  border:none;
  position:relative;
  width:15rem;
  height:60px;
  font-size:1rem;
  padding:14px 0px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 1rem;
  text-align:center;
  
}
#clicker-mon:hover{
  background:#fff;
  color:#202936;
}
#clicker-mon:before,#clicker-mon:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #202936;
  transition:400ms ease all;
}
#clicker-mon:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#clicker-mon:hover:before,#clicker-mon:hover:after{
  width:100%;
  transition:800ms ease all;
}


/*tisdag*/
.panel-wrap-tis {
  position: fixed;
  
  bottom: 0;
  right: 0;
  width: 35%;
  height: 12rem;
  transform: translateX(100%);
  transition: .3s ease-out;
  top: 27rem;
  
}
.panel-tis {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #202936;
  color: #eee;
  overflow: auto;
  padding: 1em;
  
  border-top: 1px solid white;
}


[id="clicker-tis"]:focus ~ .panel-wrap-tis {
  transform: translateX(0%);
}

#clicker-tis{
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  background:#202936;
  color:#fff;
  border:none;
  position:relative;
  width:15rem;
  height:60px;
  font-size:1rem;
  padding:14px 0px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 1rem;
  text-align:center;
  
}
#clicker-tis:hover{
  background:#fff;
  color:#202936;
}
#clicker-tis:before,#clicker-tis:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #202936;
  transition:400ms ease all;
}
#clicker-tis:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#clicker-tis:hover:before,#clicker-tis:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*onsdag*/
.panel-wrap-ons {
  position: fixed;
  
  bottom: 0;
  right: 0;
  width: 35%;
  height: 12rem;
  transform: translateX(100%);
  transition: .3s ease-out;
  top: 27rem;
  
}
.panel-ons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #202936;
  color: #eee;
  overflow: auto;
  padding: 1em;
  
  border-top: 1px solid white;
}


[id="clicker-ons"]:focus ~ .panel-wrap-ons {
  transform: translateX(0%);
}

#clicker-ons{
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  background:#202936;
  color:#fff;
  border:none;
  position:relative;
  width:15rem;
  height:60px;
  font-size:1rem;
  padding:14px 0px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 1rem;
  text-align:center;
  
}
#clicker-ons:hover{
  background:#fff;
  color:#202936;
}
#clicker-ons:before,#clicker-ons:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #202936;
  transition:400ms ease all;
}
#clicker-ons:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#clicker-ons:hover:before,#clicker-ons:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*torsdag*/
.panel-wrap-tor {
  position: fixed;
  top: 27rem;
 
  bottom: 0;
  right: 0;
  width: 35%;
  height: 12rem;
  transform: translateX(100%);
  transition: .3s ease-out;
}
.panel-tor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #202936;
  color: #eee;
  overflow: auto;
  padding: 1em;
  border-top: 1px solid white;
}


[id="clicker-tor"]:focus ~ .panel-wrap-tor {
  transform: translateX(0%);
}

#clicker-tor{
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  background:#202936;
  color:#fff;
  border:none;
  position:relative;
  width:15rem;
  height:60px;
  font-size:1rem;
  padding:14px 0px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 1rem;
  text-align:center;
  
}
#clicker-tor:hover{
  background:#fff;
  color:#202936;
}
#clicker-tor:before,#clicker-tor:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #202936;
  transition:400ms ease all;
}
#clicker-tor:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#clicker-tor:hover:before,#clicker-tor:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*fredag*/
.panel-wrap-fre {
  position: fixed;
  top: 27rem;
  
  bottom: 0;
  right: 0;
  width: 35%;
  height: 12rem;
  transform: translateX(100%);
  transition: .3s ease-out;
}
.panel-fre {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #202936;
  color: #eee;
  overflow: auto;
  padding: 1em;
  border-top: 1px solid white;
}


[id="clicker-fre"]:focus ~ .panel-wrap-fre {
  transform: translateX(0%);
}

#clicker-fre{
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  background:#202936;
  color:#fff;
  border:none;
  position:relative;
  width:15rem;
  height:60px;
  font-size:1rem;
  padding:14px 0px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 1rem;
  text-align:center;
  
}
#clicker-fre:hover{
  background:#fff;
  color:#202936;
}
#clicker-fre:before,#clicker-fre:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #202936;
  transition:400ms ease all;
}
#clicker-fre:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#clicker-fre:hover:before,#clicker-fre:hover:after{
  width:100%;
  transition:800ms ease all;
}

.homemenu{
    margin: 0rem;
    display: flex; 
    
    flex-flow: column;
    background-color: rgba(66, 89, 111, 0.4); 
    width: 17rem; 
    height: 22.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom:  1rem;
    -webkit-box-shadow: 1px 6px 10px 0 black;
	   -moz-box-shadow: 1px 6px 10px 0 black;
	        box-shadow: 1px 6px 10px 0 black;
}

.container-fluid{
    padding-left: 0rem;
    padding-bottom: 0rem;
}