/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-feb-19, 14:29:51
    Author     : smexcell
*/

@font-face {
font-family: "David CLM";

src: url("#{resource['fonts/David CLM, Medium Italic.ttf']}");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Roboto";

src: url("#{resource['fonts/OpenSans-Regular.ttf']}");
font-weight: normal;
font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}

body{
    font-family: "Roboto";
    margin:0;
    font-size: 1rem;
    color: white;
}

span{
    font-size: 1rem;
}

h2{

    align-self: center;
}

h1{
    font-family: "David CLM";
    color: white;
    font-size: 4rem;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 70%;
   
    align-self: center;
}

.background-image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    background-image: url(/website/resources/images/background.jpg);
    
    margin:0;
    height: 100%;
}

.common-background{
    background-color: #151B1F;
    margin:0;
    min-height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-image{
    display: flex;
    flex-direction: column;

    min-height: 160px;
    margin: 0;
    background-color: #252120;
    background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 0px 0px 0px;
}

.header-image-home{
    display: flex;
    flex-direction: column;

    min-height: 250px;
    margin:0;
    background: linear-gradient(rgba(30, 30, 30, 0.70), rgba(30, 30, 30, 0.70)), url(/website/resources/images/background-blur.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 0px 10px 0px;
}

.header-content{
    height: 100%;
}

.content-about-upper-column-right{
    
    padding:1px;
    //border-bottom: solid 2px threedface;
    height: 290px;
    margin:3%;
   
   
}

.content-about-upper-column-right-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url(/website/resources/images/markje-about.png);
}

.owner-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url(/website/resources/images/markje-about.png);
}
.content-about-lower-column-left-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    
    height: 100%;
    background-image: url(/website/resources/images/about-restuarang.jpg);
}
.content-about-upper-column{
    padding:1px;
    border-bottom: solid 2px threedface;
    min-height: 290px;
    margin:3%;
    font-size: 21px;
   
    
}
.content-about-lower-column{
    padding:1px;
    border-bottom: solid 2px threedface;
    height: 200px;
    margin:3%;
   font-size: 22px;
}

.menubar-links > li > a{
    color: white !important;
}

.navbar .navbar-nav{

  justify-content: center;
  
  float: none;
}

.navbar-collapse::before{

}

.menubar-links{
display:inline-block;
    float: none;
  text-align: center;
  vertical-align: top;
  font-size: 2.5rem;

}


.navbar .navbar-nav navbar-default{
  padding: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.main-menubar{
    background:none;
    border-bottom: white solid 0px;
    border-top: white solid 0px;
    border-right: none;
    border-left: none;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    
}
.content-about-lower-column-label{
    font-size: 30px;
    padding-left:3%;
    text-align: center;
}

.content-about-upper-column-label{
    font-size: 30px;
    text-align: center;
    
    
}
.content-about-lower-column-label{
    font-size: 30px;
    text-align: center;
    
    
}


.content-about-lower-row-label{
    font-size: 30px;
   
    top:10%;
    
}

.content-about-container{
    margin-top: 6%;
}

/*Footer*/

.footer-container{
    //background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url(/website/resources/images/background-blur.jpg);
    background-color: #252120;
    //border-top: white solid 8px;
     background-image: linear-gradient(to right, #122a3d, #182a3a, #1d2938, #202935, #232932);
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 0px 10px 0px;
}

.footer-heading-rows{
    margin-left : 10%;
    margin-right : 10%;
}

hr.hr1{
  border-top: 1px solid white;
}

.footer-rows{
    margin-left : 10%;
    margin-right : 10%;
    margin-bottom : 25px;
}

.footer-rows p{
    font-size : 24px;
    color : white;
    margin-bottom: 1px;
}

.footer-text-header h3{
    font-size: 34px;
    color : whitesmoke;
}
